<!doctype html>
<html lang="en">

<head>
    <title>Pilotos</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <header id="header">

    </header>
    <main>
        <div id="app" class="container">
            <h1>Pilotos</h1>
            <br>
            <a name="" id="" class="btn btn-dark" href="./piloto_nuevo.html" role="button">Nuevo</a>
            <br><br>
            <div v-if="error">
                <p> Lo sentimos, se produjo un error lo esperamos mas tarde!</p>

            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando....</p>


                </section>
            <section v-else>


                <div class="table-responsive">
                    <table class="table table-light">
                        <thead>
                            <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre del piloto</th>
                                    <th scope="col">Edad</th>
                                    <th scope="col">Escuderia</th>
                                    <th scope="col">Nacionalidad</th>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" v-for="piloto in pilotos">
                                <td scope="row">{{piloto.id}}</td>
                                <td>{{piloto.nombre}}</td>
                                <td>{{piloto.edad}}</td>
                                <td>{{piloto.escuderia}}</td>
                                <td>{{piloto.nacionalidad}}</td>
                                <td>
                                    <img width="100":src="piloto.imagen" :alt="piloto.nombre">

                                </td>
                                <td>
                                    <a name="" id="" class="btn btn-secondary" :href="'piloto_update.html?id='+ piloto.id"  role="button"> Editar</a>
                                    <button type="button" class="btn btn-danger" v-on:click="eliminar(piloto.id)">Eliminar</button>
                                </td>
                                </tr>

                        </tbody>
                    </table>
                </div>
            </section>
            </div>

        </div>

    </main>
    <footer>

    

    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    <script src="js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/pilotos.js"></script>

</body>


</html>